.button_square{
    cursor: pointer;
    width: 143px;
    height: 50px;
    text-align: center;
    font-weight: 500;
    border: 1px solid #d8d8d8;
    font-size: 17px;
    box-sizing: border-box;
    padding-top: 14px;
}