.contentlist{
    background-color: #f2f3f5;
    box-sizing: border-box;
    padding-top: 40px;
    padding-bottom: 40px;

    .list_name{
        font-size: 40px;
        font-weight: bold;
        color: #648cff;
        text-align: center;
    }
    .list_sub_name{
        text-align: center;
        color: #999999;
        font-size: 20px;
        font-weight: 500;
        padding-top: 15px;
        padding-bottom: 60px;
    }
}