.button{
    width: 150px;
    height: 50px;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    background-color: rgb(252, 106, 66);
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    box-sizing: border-box;
    padding-top: 14px;
    &:hover{
        background-color: rgba(252, 106, 66, 0.9);
    }
}