.SearchHeader{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #eee;
    text-align: center;
    box-sizing: border-box;
    padding-top: 31px;
    h3{
        font-size: 20px;
        span{
            color: #41444c;
            font-weight: bold;
        }
    }
}