.SearchBar{
    ul{
        text-align: center;
        width: fit-content;
        margin: 0 auto;
        box-sizing: border-box;
        padding-top: 20px;
        li{
            float: left;
            cursor: pointer;
            font-size: 14px;
            .Circle{
                height: 10px; 
                width: 10px; 
                margin-right: 8px;
                border-radius: 8px;
                float: left;
                margin-top: 2.5px;
                background-color: #ced4d9;
                // background-color: #2282F2;
            }
            &:not(:last-child){
                margin-right: 46px;
            }
        }
        
    }
}